<<<<<<< HEAD
.deskcar{
    width:100%;
    height:100%;
}
.carousel{
    width:89vw;margin-left:-10.5vw;
=======
.deskcar{
    width:100%;
    height:100%;
}
.carousel{
    width:89vw;margin-left:-10.5vw;
>>>>>>> 8dea0767808658bb174f0393e0530f44b370abf6
}